<div class="form-group">
	<label for="name">Name</label>
	<input type="text" class="form-control" id="name"  name="name" placeholder="Enter an asset name">
</div>
<div class="form-group">
	<label for="mediaType">Provider</label>
	<input type="text" class="form-control" id="provider" name="provider" placeholder="Provider">
</div>
<div class="form-group">
	<label for="mediaType">Version</label>
	<input type="text" class="form-control" id="version" name="version" placeholder="Version Eg: 1.0.0">
</div>
<div class="form-group">
	<label for="mediaType">Lifecycle State</label>
	<input type="text" class="form-control" id="lcState" name="lcState" placeholder="Lifecycle State">
</div>
<div class="form-group">
	<label for="mediaType">Tags</label>
	<input type="text" class="form-control" id="tags" name="tags" placeholder="Enter a tag">
</div>
