<br/>
<div class="ast-container " id="ast-container">
    <div class="container-fluid ">
        <div class="title">
            <a class="asset-type-deviceType">Device Events Stream</a>
        </div>
        <hr>
    </div>
</div>
{{#if data}}
    <div class="container container-bg  white-bg">
        <div class=" margin-top-double">
            <div class="row row padding-top-double padding-bottom-double margin-bottom-double">
                <div id="event-stream-place-holder" style="padding-top: 20px;">
                    <div style="padding: 15px;">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th width="20%">Time</th>
                                <th width="20%">Device</th>
                                <th>Activity</th>
                            </tr>
                            </thead>
                            <tbody>
							{{#each data}}
                                <tr>
                                    <td width="20%" class="formatDate">{{time}}</td>
                                    <td width="20%">{{deviceId}}</td>
                                    <td>{{activity}}</td>
                                </tr>
							{{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <!-- no policies found -->
    <div id="ast-container" class="ast-container list-view">
        <div id="ast-container" class="ast-container list-view">
            <div class="assets-container margin-top-double padding-top-double">
                <div class="top-assets-empty-assert">You don't have any events logged at the moment. Please again later.
                </div>
            </div>
        </div>
    </div>
{{/if}}