{{#each applications}}
  <div class="application">
      <img src="">
      <div class="app-info">
          <h4 title="{{name}}">{{name}}</h4>
          <p>v{{version}}</p>
      </div>
  </div>
{{/each}}
