<div class="col-lg-12  margin-top-double">
    <h1 class="grey ">Android Mobile</h1>
    <hr>
    <p class="margin-bottom-double light-grey ">Connect your Android device to the WSO2 device cloud.</p>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 padding-top">
    <i class="fw fw-android fw-5x"></i>
</div>
<div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 padding-top">
    <h3 class="uppercase">Ingredients</h3>
    <hr>
    <p class="grey margin-top">Hardware Requirements </p>
    <br>
    <ul class="list-unstyled">
        <li><span class="fw-stack fw-lg margin-right"><i class="fw fw-ring fw-stack-2x"></i>
                <i class="fw fw-right-arrow fw-stack-1x"></i></span> Android Mobile</li>
    </ul>
    <br>

    <a href="#" class="download-link btn-operations"><i class="fw fw-mobile fw-inverse fw-lg"></i> Enroll Device</a>

    <br/><br/>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-12 padding-double grey-bg ">
    <h3 class="uppercase">Prepare</h3><hr>
    <p class="grey margin-top">Get your device ready</p>
    <ul class="list-unstyled">
        <li class="padding-top-double"><span class="circle">01</span> Download Device Agent into your Android Mobile.</li>
        <li class="padding-top-double"><span class="circle">02</span> Install the Agent APK file.</li>
        <li class="padding-top-double"><span class="circle">03</span> Configure the Agent App</li>
    </ul>
    <br>
</div>

</div>

<div id="qr-code-modal" data-enrollment-url="{{enrollmentURL}}" class="hidden">

    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>Scan QR code to start enrollment</h3>
                <p>Please scan the QR code using your mobile device to retrieve enrollment URL.</p>
                <div class="panel panel-default">
                    <div class="panel-body col-centered">
                        <div class="qr-code"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#zone "topCss"}}
    <style type="text/css">
        .circle {
            background: none repeat scroll 0 0 #191919;
            border-radius: 50px;
            height: 50px;
            padding: 10px;
            width: 50px;
            color: #fff;
        }
        .padding-top-double {
            padding-top: 20px;
        }
        .padding-double {
            padding: 20px;
        }
        .grey {
            color: #333;
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #7f7f7f;
            margin: 1em 0;
            padding: 0;
            opacity: 0.2;
        }
        .light-grey {
            color: #7c7c7c;
        }
        .uppercase {
            text-transform: uppercase;
        }
        .grey-bg {
            background-color: #f6f4f4;
        }
    </style>
{{/zone}}

{{#zone "bottomJs"}}
    <script type="text/javascript">

        $(".download-link").click(function(){
            toggleEnrollment();
        });

        function toggleEnrollment(){
            $(".modalpopup-content").html($("#qr-code-modal").html());
            generateQRCode(".modalpopup-content .qr-code");
            showPopup();
        }

    </script>
{{/zone}}