{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
<!--Virtual Firealarm-->
<div class="panel panel-default">
    <div id="general-config-heading" class="panel-heading" role="tab">
        <h2 class="sub-title panel-title">
            Virtual Firealarm Configuration
        </h2>
    </div>
    <div id="virtual-alarm-config-body" class="panel-collapse panel-body"
         role="tabpanel">
        <div id="virtual_firelarm-config-error-msg"
             class="alert alert-danger hidden" role="alert">
            <i class="icon fw fw-error"></i><span></span>
        </div>
        <div class="wr-input-control wr-btn-grp">
            <button id="save-general-btn" class="wr-btn" onclick="artifactUpload();">
                Deploy Analytics Artifacts
            </button>

        </div>
    </div>
</div>

<div id="virtual-firealarm-statistic-response-template" style="display: none">
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-centered">
                <h3>
                    <span class="fw-stack">
                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                        <i id="status-icon" class="fw fw-error fw-stack-1x"></i>
                    </span>
                    <br>
                </h3>
                <h4>
                    <span id="title"></span>
                    <br>
                </h4>
                <span id="description"></span>
            </div>
        </div>
    </div>
</div>
<!-- Virtual Firealarm-->
{{#zone "bottomJs"}}
    {{js "js/platform-configuration.js"}}
{{/zone}}
