{{unit "uuf.unit.lib.form-validation"}}
<div class="container col-xs-12 col-sm-10 col-md-8 col-lg-6 col-centered wr-content wr-login col-centered sign-panel">

    <p class="page-sub-title">Register</p>

    <p>Create new account on IoT Server (All fields are required.)</p>
    <hr/>
    <!-- validation -->
    <div class="wr-validation-summary hidden alert alert-danger">
        <strong></strong>
        <button type="button" class="close" aria-label="close" data-dismiss="alert"><span aria-hidden="true">
                <i class="fw fw-cancel"></i></span></button>
    </div>
    <form method="POST" class="form-login-box" action="{{@app.context}}" id="registerForm">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" placeholder="First Name" class="form-control" name="first_name">
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" placeholder="Last Name" class="form-control" name="last_name">
        </div>

        <div class="form-group">
            <label for="user_name">Username</label>
            <input type="text" id="user_name" placeholder="Username" class="form-control" name="user_name">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="Email" class="form-control" name="email">
        </div>

        <div class="form-group">
            <label for="password" >Password</label>
            <input type="password" id="password" placeholder="Password" class="form-control" name="password">
        </div>

        <div class="form-group">
            <label for="password_confirmation">Confirm Password</label>
            <input type="password" id="password_confirmation" placeholder="Confirm Password" class="form-control"
                   name="password_confirmation">
        </div>


        <div class="wr-input-control">
            <button class="wr-btn" id="add-user-btn" type="submit">Register</button>
            <button class="wr-btn" onclick="document.location.href='{{@app.context}}/login';">Cancel</button>
        </div>
    </form>

</div>
{{#zone "bottomLoginJs"}}
    {{js "js/validate-register.js"}}
{{/zone}}
