#rangeSliderWrapper {
    margin-top: 25px;
}

#chart {
    display: inline-block;
}

#legend {
    display: inline-block;
    position: relative;
    left: 8px;
}

#legend_container {
    position: absolute;
    right: 0;
    bottom: 26px;
    width: 0;
}

#chart_container {
    float: left;
    position: relative;
}

.ast-container {
    padding-bottom: 30px;
}

.container {
    width: auto;
}

.container-fluid {
    padding-left: 15px !important;
}

.shrink {
    margin-right: 20px;
    margin-left: 20px;
}