{{#zone "device-opetations"}}
    <div style="background: #11375B; color: #fff; padding: 10px; margin-bottom: 5px">
        Operations
    </div>
    <div class="add-margin-top-4x">
        {{unit "mdm.unit.device.operation-bar"}}
    </div>
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/device-detail.js"}}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    {{js "js/load-map.js"}}
{{/zone}}