<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


              <bean id="jacksonJsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"></bean>

              <util:list id="webClientProviders">
                     <ref bean="jacksonJsonProvider"/>
              </util:list>

              <bean id="droneClient" class="org.apache.cxf.jaxrs.client.WebClient"
                    factory-method="create">
                     <constructor-arg type="java.lang.String" value="http://192.168.237.1:9763/raspberrypi/RaspberryPiDeviceManager/"/>
                     <constructor-arg ref="webClientProviders" />
              </bean>
</beans>
