<header>
    <div class="row wr-global-header">
        <div class="col-lg-12 app-logo">
            <a class="login-link" href='{{url ""}}{{meta.landingPage}}'>
                <img src="{{url "/themes/default/img/logo.png"}}" />
                <h2 class="app-title">Enterprise Store Publisher</h2>
            </a>
        </div>
    </div>
</header>
