<div class="container col-centered wr-content policy-profile">
    <div class="wr-form">
        <h1 id="policy-profile-page-wizard-title" class="page-sub-title">ADD POLICY</h1>
        <hr>
        <div id="policy-profile-wizard-steps" class="row wr-wizard"></div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="visible-xs">Step 2: Configure profile</h4>
                <br>
                <div id="policy-profile-main-error-msg" class="alert alert-danger hidden" role="alert">
                    <i class="icon fw fw-error"></i><span></span>
                </div>
                <div class="wr-advance-operations">
                    <div class="wr-advance-operations-init">
                        <br>
                        The maximum number of failed password entry attempts. If the correct password is not entered within the defined number of attempts, the data on the device will be erasedThe maximum number of failed password entry attempts. If the correct password is not entered within the defined number of attempts, the data on the device will be erasedThe maximum number of failed password entry attempts. If the correct password is not entered within the defined number of attempts, the data on the device will be erasedThe maximum number of failed password entry attempts. If the correct password is not entered within the defined number of attempts, the data on the device will be erased<i class="fw fw-settings fw-spin fw-2x"></i>
                        The maximum number of failed password entry attempts. If the correct password is not entered within the defined number of attempts, the data on the device will be erasedThe maximum number of failed password entry attempts. If the correct password is not entered within the defined number of attempts, the data on the device will be erasedThe maximum number of failed password entry attempts. If the correct password is not entered within the defined number of attempts, the data on the device will be erasedLoading platform features . . .
                        <br><br>
                    </div>
                </div>
                <div class="wr-input-control wr-btn-grp">
                    <a href="javascript:void(0)" class="wr-btn wizard-stepper" data-is-back-btn="true" data-current="policy-profile" data-next="policy-platform">Back</a>
                    <a href="javascript:void(0)" class="wr-btn wizard-stepper" data-current="policy-profile" data-next="policy-criteria" data-validate="true">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>